.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16% 20px 16%;
    /* margin-bottom: 20px; */
    position: sticky;
    background: #fff;
    top: 0;
    z-index: 10;
    border-bottom: 1px solid #EDEDED;
}

select {
    border: none;
    background: none;
    font-family: var(--ff-c);
    font-size: 19px;
}

option {
    font-family: var(--ff-c);
}

.menu__list {
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    width: 40%;
}

.menu__list-item {
    text-decoration: none;
}

.menu__list-item-active {
    text-decoration: none;
    color: var(--text-peach);
}

.menu__icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 12%;
}

.menu__icons__nav-link {
    width: 22px;
    height: 22px;
    position: relative;
}

.select__category {
    cursor: pointer;
}