.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__contact {
    text-align: right;
}

.contact-title {
    color: var(--text-light);
    font-family: var(--ff-m);
    font-size: 15px;
}

.contact-number {
    font-size: 19px;
}

.header__search__block {
    border: 1px solid #EAEAEA;
    border-radius: 4px;
    width: 36%;
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
}

.header__search {
    border: none;
    outline: none;
    font-family: var(--ff-m);
    height: 50px;
    color: var(--text-light);
    font-size: 15px;
    padding: 25px;
    width: 100%;
}
